@charset "UTF-8";
/* -------------------------------------------------------------
Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

List of CSS3 Sass Mixins File to be @imported and @included as you need

The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
ENDING css files

note: All CSS3 Properties are being supported by Safari 5
more info: http://www.findmebyip.com/litmus/#css3-properties

Mixins available:
- background-gradient - arguments: Start Color: #3C3C3C, End Color: #999999
- background-size - arguments: Width: 100%, Height: 100%
- border-radius - arguments: Radius: 5px
- border-radius-separate - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
- box - arguments: Orientation: horizontal, Pack: center, Align: center
- box-rgba - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
- box-shadow - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
- box-sizing - arguments: Type: border-box
- columns - arguments: Count: 3, Gap: 10
- double-borders - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
- flex - arguments: Value: 1
- flip - arguments: ScaleX: -1
- font-face - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
- opacity - arguments: Opacity: 0.5
- outline radius - arguments: Radius: 5px
- resize - arguments: Direction: both
- rotate - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
- text-shadow - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
- transform - arguments: Parameters: null
- transition - arguments: What: all, Length: 1s, Easing: ease-in-out
- triple-borders - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* FONT FACE */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM */
/* TRANSFORM STYLE */
/* TRANSITION */
/* BACKFACE VISIBILITY */
/* TRIPLE BORDERS */
/* PLACEHOLDER */
@font-face {
  font-family: 'd-searchbox';
  src: url("../fonts/d-searchbox.eot?41046635");
  src: url("../fonts/d-searchbox.eot?41046635#iefix") format("embedded-opentype"), url("../fonts/d-searchbox.woff?41046635") format("woff"), url("../fonts/d-searchbox.ttf?41046635") format("truetype"), url("../fonts/d-searchbox.svg?41046635#d-searchbox") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'd-searchbox';
    src: url('../font/d-searchbox.svg?41046635#d-searchbox') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "d-searchbox";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-flight:before {
  content: '\e800'; }

/* '¯áÇ' */
.icon-ok:before {
  content: '\e801'; }

/* '¯áü' */
.icon-cancel:before {
  content: '\e802'; }

/* '¯áé' */
.icon-home:before {
  content: '\e803'; }

/* '¯áâ' */
.icon-calendar-empty:before {
  content: '\e804'; }

/* '¯áä' */
.icon-location:before {
  content: '\e805'; }

/* '¯áà' */
*::-moz-selection {
  background: #fff;
  color: #333; }

.sb_widget {
  /* Buttons */ }
  .sb_widget .widgetbox {
    background: #ccc;
    widht: 100%;
    max-width: 400px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .sb_widget .widgetbox h3 {
      font-size: 24px;
      line-height: 100%;
      margin: 5px 0 5px; }
    .sb_widget .widgetbox form {
      margin: 0; }
  .sb_widget .sb-form-fields {
    margin-bottom: 15px; }
  .sb_widget .input_holder {
    widht: 100%;
    position: relative;
    margin-bottom: 5px; }
    .sb_widget .input_holder input[type="text"],
    .sb_widget .input_holder select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: white;
      filter: none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
      height: 42px;
      width: 100%;
      border: 1px solid #ccc;
      color: #333;
      font-size: 14px;
      box-sizing: border-box;
      padding: 10px;
      font-style: normal; }
      .sb_widget .input_holder input[type="text"]:hover,
      .sb_widget .input_holder select:hover {
        border: 1px solid #aaa; }
      .sb_widget .input_holder input[type="text"]:focus,
      .sb_widget .input_holder select:focus {
        border: 2px solid #1e44d5;
        padding: 9px; }
      .sb_widget .input_holder input[type="text"].error,
      .sb_widget .input_holder select.error {
        border: 2px solid #ff6d5a;
        padding: 9px; }
      .sb_widget .input_holder input[type="text"]::-webkit-input-placeholder,
      .sb_widget .input_holder select::-webkit-input-placeholder {
        color: #999;
        font-style: italic; }
      .sb_widget .input_holder input[type="text"]::-moz-placeholder,
      .sb_widget .input_holder select::-moz-placeholder {
        color: #999;
        font-style: italic; }
      .sb_widget .input_holder input[type="text"]:-ms-input-placeholder,
      .sb_widget .input_holder select:-ms-input-placeholder {
        color: #999;
        font-style: italic; }
    .sb_widget .input_holder option {
      font-size: 14px;
      line-height: 25px;
      padding: 8px 0;
      text-indent: 10px; }
    .sb_widget .input_holder span {
      position: absolute;
      top: 6px;
      right: 4px;
      font-size: 19px;
      color: #dedede;
      border-left: 1px solid #dedede; }
  .sb_widget label {
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 4px;
    display: block; }
  .sb_widget a.btn_action {
    width: 100%;
    margin-top: 10px;
    display: block;
    background: #003399;
    color: #fff;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .sb_widget a.btn_action:hover {
      color: #fff;
      text-decoration: none; }
  .sb_widget a.btn_external {
    text-align: center;
    display: block;
    margin: 10px 0 0 0;
    font-size: 12px;
    text-decoration: none; }
    .sb_widget a.btn_external:hover {
      text-decoration: none; }

.sb-home-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 997;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear,opacity 300ms linear;
  -webkit-transition-delay: 300ms,0s;
  -moz-transition: visibility 0s linear 300ms,opacity 300ms linear;
  -o-transition: visibility 0s linear 300ms,opacity 300ms linear;
  transition: visibility 0s linear 300ms,opacity 300ms linear; }
  .sb-home-modal.active {
    filter: alpha(opacity=60);
    opacity: .6;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

/* location input field */
.location_list {
  position: absolute;
  z-index: 998;
  top: 30px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc; }

.location_list ul {
  padding: 5px; }

.location_list li.ui-menu-item {
  font-size: 13px;
  cursor: pointer;
  list-style: none;
  padding: 7px 10px; }

.location_list li.ui-menu-item:hover {
  background-color: #ccc;
  color: #fff; }

/* Brand dependant */
.sb_widget .edreams_old.widgetbox {
  background: #ffcc00; }
  .sb_widget .edreams_old.widgetbox h3 {
    color: #444;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5); }
.sb_widget .edreams_old label {
  color: #666; }
.sb_widget .edreams_old a.btn_action {
  border-top: 1px solid #006bdd;
  background: -moz-linear-gradient(top, #003298 0%, #00035f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003298), color-stop(100%, #00035f));
  background: -webkit-linear-gradient(top, #003298 0%, #00035f 100%);
  background: -o-linear-gradient(top, #003298 0%, #00035f 100%);
  background: -ms-linear-gradient(top, #003298 0%, #00035f 100%);
  background: linear-gradient(to bottom, #003298 0%, #00035f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003298', endColorstr='#00035f',GradientType=0 ); }
.sb_widget .edreams_old a.btn_external {
  color: #003399; }
.sb_widget .edreams.widgetbox {
  background: #fff;
  border-top: 4px solid #ffcc00;
  box-shadow: 0 0 4px -1px #333;
  position: relative;
  z-index: 998; }
  .sb_widget .edreams.widgetbox h3 {
    color: #444;
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 100%;
    text-transform: none;
    text-align: left;
    letter-spacing: unset; }
    .sb_widget .edreams.widgetbox h3 .ds-header-feat {
      color: #1e44d5;
      border-top: 4px solid #1e44d5;
      padding-top: 4px; }
.sb_widget .edreams label {
  color: #666; }
.sb_widget .edreams .btn_action_wrapper {
  height: 44px;
  overflow: hidden; }
.sb_widget .edreams a.btn_action {
  cursor: pointer;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  background: #1e44d5;
  filter: none;
  color: white;
  border-color: #060583;
  border-style: solid;
  border-width: 1px 0px 4px;
  height: 39px;
  line-height: 39px;
  -webkit-transition: margin 75ms,border-width 75ms,background 75ms;
  -moz-transition: margin 75ms,border-width 75ms,background 75ms;
  -o-transition: margin 75ms,border-width 75ms,background 75ms;
  transition: margin 75ms,border-width 75ms,background 75ms;
  vertical-align: top; }
  .sb_widget .edreams a.btn_action:hover {
    background: #0806a5; }
  .sb_widget .edreams a.btn_action:active {
    border-width: 1px 0px 1px;
    margin-top: 3px; }
.sb_widget .edreams a.btn_external {
  color: #003399; }
.sb_widget .travellink.widgetbox {
  background: #48a1b1; }
  .sb_widget .travellink.widgetbox h3 {
    color: #fff;
    text-shadow: 2px 2px 3px rgba(28, 117, 133, 0.5); }
.sb_widget .travellink label {
  color: #eee; }
.sb_widget .travellink a.btn_action {
  background: #ff4501; }
.sb_widget .travellink a.btn_external {
  color: #fff; }

/* Datepicker */
.ui-datepicker {
  max-width: 250px; }

.ui-datepicker-calendar {
  display: none; }

.ui-datepicker-header {
  background: #ffcc00;
  border: none; }

.ui-datepicker-buttonpane {
  border-top: 1px solid #dedede;
  margin: 9px 0 0; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  width: 30px;
  height: 34px;
  top: 2px; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px; }

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
  right: 2px; }

.ui-datepicker .ui-state-hover,
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  background: #ecbd15;
  border: none; }

.ui-widget-content .ui-state-focus,
.ui-state-focus {
  background: none;
  border: none; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  font-size: 13px;
  margin: 5px 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  font-size: 13px; }
  .ui-datepicker .ui-datepicker-buttonpane button:hover {
    border: 1px solid #ffcc00; }

/*# sourceMappingURL=sb_style.css.map */
