@import "partials/mixins";
@import "partials/fontello";

$action_color:#003399;

$brand-main-default:#999;
$brand-side-default:#333;

$brand-main-edreams:#1e44d5;
$brand-side-edreams:#ffcc00;

$brand-main-travellink:#ff8248;
$brand-side-travellink:#4ea9b9;

$brand-main-opodo:#990000;
$brand-side-opodo:#f67620;

*::-moz-selection {
    background:#fff;
    color:#333;
}

.sb_cf:before,
.sb_cf:after {
    content: " ";
    display: table;
}
.sb_cf:after {
    clear: both;
}

/****** MAIN SEARCHBOX ******/
.sb_widget {
    .widgetbox {
        width:100%;
        max-width:400px;
        padding:10px;
        @include border-radius(5px);
        background:#fff;
        border-top:4px solid $brand-main-default;
        box-shadow:0 0 4px -1px #333;
        position:relative;
        z-index:998;        
        h3 {
            color:$brand-main-default;
            margin:0 0 10px;
            font-size:24px;
            line-height:100%;
            text-transform:none;
            text-align:left;
            letter-spacing:unset;   
            .ds-header-feat {
                color:#333;
                border-top:4px solid $brand-side-default;
                padding-top:4px;
                vertical-align:top;
            }            
        }
        form {
            margin:0;
        }
    }
    .sb-form-fields {
        margin-bottom:15px;
    }
    .input_holder {
        width:100%;
        position:relative;
        margin-bottom:8px;
        input[type="text"],
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: white;
            filter: none;
            @include border-radius(4px);
            -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
            -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
            box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
            height: 42px;
            line-height:22px;
            width: 100%;
            border: 1px solid #ccc;
            color: #333;
            font-size: 14px;
            box-sizing: border-box;
            padding: 0 10px; 
            margin:0;
            font-style:normal;
            cursor:pointer;   
            vertical-align:middle;            
            &:hover {
                border:1px solid #aaa;
            }
            &:focus {
                border:2px solid $brand-main-default;
                padding:9px;
                outline:none;
            }
            &.error {
                border:2px solid #ff6d5a;
                padding:9px;
            } 
            &::-webkit-input-placeholder {
               color:#999;  
               font-style:italic;
            }
            &::-moz-placeholder {
               color:#999;  
               font-style:italic;
            }
            &:-ms-input-placeholder {
               color:#999;  
               font-style:italic;
            }                    
        }
        option {
            font-size:14px;
            line-height:25px;
            padding:8px 0;
            text-indent:10px;
        }
        span {
            position:absolute;
            top:6px;
            right:4px;
            font-size:19px;
            color:#dedede;
            border-left:1px solid #dedede;
        }
    }
    .input_holder_half {
        width:48.5%;
        margin-right:3%;
        float:left;
        &.last-item {
            margin-right:0;
        }
    }
    label {
        font-size:10px;
        line-height:13px;
        margin-bottom:4px;
        display:block;
        color:#666;
      
    }  

    /* Buttons */
    .btn_action_wrapper {
        height:44px;
        overflow:hidden;
    }    
    a.btn_action {
        width:100%;
        display:block;
        background:$brand-main-default;
        text-align:center;
        cursor:pointer;
        margin: 0;           
        font-size: 18px;
        font-weight: 600;        
        filter: none;
        color: white;
        border-color: darken($brand-main-default, 10%);
        border-style: solid;
        border-width: 1px 0px 4px;
        height: 39px;
        line-height: 39px;
        -webkit-transition: margin 75ms,border-width 75ms,background 75ms;
        -moz-transition: margin 75ms,border-width 75ms,background 75ms;
        -o-transition: margin 75ms,border-width 75ms,background 75ms;
        transition: margin 75ms,border-width 75ms,background 75ms;
        vertical-align: top;         
        @include border-radius(4px);
        &:hover {
            color:#fff;
            text-decoration:none;
        }
        &:active {
            border-width: 1px 0px 1px;
            margin-top: 3px;                
        }        
    }
    a.btn_external {
        text-align:center;
        display:block;
        margin:10px 0 0 0;
        font-size:12px;
        text-decoration:none;
        &:hover {
            text-decoration:none;
        }
    }   
}

/****** MODAL BOX ******/
.sb-home-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 997;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear,opacity 300ms linear;
    -webkit-transition-delay: 300ms,0s;
    -moz-transition: visibility 0s linear 300ms,opacity 300ms linear;
    -o-transition: visibility 0s linear 300ms,opacity 300ms linear;
    transition: visibility 0s linear 300ms,opacity 300ms linear; 
    &.active {
        filter: alpha(opacity=60);
        opacity: .6;
        visibility: visible;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;        
    }
}


/****** AUTOCOMPLETE FIELDS ******/
.location_list {
    position:absolute;
    z-index:998;
    top:30px;
    left:0;
    background-color:#fff;
    border:1px solid #ccc
}
.location_list ul {
    padding:5px
}
.location_list li.ui-menu-item {
    font-size:13px;
    cursor:pointer;
    list-style:none;
    padding:7px 10px;
}
.location_list li.ui-menu-item:hover {
    background-color:#ccc;
    color:#fff  
}

/****** BRAND DEPENDANT ******/

$brands: 
(edreams $brand-main-edreams $brand-side-edreams),
(travellink $brand-main-travellink $brand-side-travellink),
(opodo $brand-main-opodo $brand-side-opodo);
 
.sb_widget {
    @each $brand, $brand-main-color, $brand-side-color in $brands  {
        .#{$brand} {
            &.widgetbox {
                border-color:$brand-side-color;
                h3 {     
                    .ds-header-feat {
                        color:$brand-main-color;
                        border-color:$brand-main-color;
                    }
                }            
            }
            .input_holder {
                input[type="text"],
                select {
                    &:focus {
                        border-color:$brand-main-color;
                    }
                }
            }
            a.btn_action {
                background:$brand-main-color;
                border-color:darken($brand-main-color, 15%);
                &:hover {
                    background:darken($brand-main-color, 7%);
                }
            }
            a.btn_external {
                color:$brand-main-color;
            }  
        }
    }
}
/*
.sb_widget {
     
    
    .edreams {
        &.widgetbox {
            border-color:$brand-side-edreams;
            h3 {     
                .ds-header-feat {
                    color:$brand-main-edreams;
                    border-color:$brand-main-edreams;
                }
            }            
        }
        .input_holder {
            input[type="text"],
            select {
                &:focus {
                    border-color:$brand-main-edreams;
                }
            }
        }
        a.btn_action {
            background:$brand-main-edreams;
            border-color:darken($brand-main-edreams, 15%);
            &:hover {
                background:darken($brand-main-edreams, 7%);
            }
        }
        a.btn_external {
            color:$brand-main-edreams;
        }        
    }
    .travellink {
        &.widgetbox {
            border-color:$brand-side-travellink;
            h3 {     
                .ds-header-feat {
                    color:$brand-main-travellink;
                    border-color:$brand-main-travellink;
                }
            }            
        } 
        .input_holder {
            input[type="text"],
            select {
                &:focus {
                    border-color:$brand-main-travellink;
                }
            }
        }
        a.btn_action {
            background:$brand-main-travellink;
            border-color:darken($brand-main-travellink, 15%);
            &:hover {
                background:darken($brand-main-travellink, 7%);
            }
        }
        a.btn_external {
            color:$brand-main-travellink;
        }           
    }
}*/

    

/****** DATEPICKER ******/
.ui-datepicker {
    max-width:250px;
}
.ui-datepicker-calendar {
    display: none;
}    
.ui-datepicker-header {
    background:#ffcc00;
    border:none;
}
.ui-datepicker-buttonpane {
    border-top: 1px solid #dedede;    
    margin: 9px 0 0;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    width:30px;
    height:34px;
    top:2px;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-prev-hover {
    left:2px;
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right:2px;
}
.ui-datepicker .ui-state-hover,
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    background:#ecbd15;
    border:none;    
}
.ui-widget-content .ui-state-focus,
.ui-state-focus {
    background:none;
    border:none;
}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year {
    font-size:13px;
    margin:5px 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    font-size:13px;
    &:hover {
        border:1px solid #ffcc00;
    }
}